<main>
    <div class="container">
        <br /><br />
        <h4 class="title center">{{ aspect.name | uppercase }}</h4>
        <br />
        <h5 class="title center">{{ aspect.title | uppercase }}</h4>
        <br /><br />
        
        <stats aspectid="{{ key }}"></stats>
        
        <div class="row">
            <div class="col s4 center-align">
                <h4>
                    <a href="">Story</a>
                </h4>
            </div>
            <div class="col s4 center-align">
                <h4>
                    <a href="">Pathfinder</a>
                </h4>
            </div>
            <div class="col s4 center-align">
                <h4>
                    <a href="">3.5e</a>
                </h4>
            </div>
        </div>
    </div>
</main>