<div class="container">
    <br />
    <h4 class="title center">CHARACTERS AND LOCATIONS</h4>
    <br />
    <slider group="aspects"></slider>
    
    <br /><br /><br /><br />
    <h4 class="title center">CHARACTERS</h4>
    <br /><br />
    
    <div ng-if="isMobile">
        <mobilecharacter group="characters"></mobilecharacter>
    </div>
    <div ng-if="isDesktop">
        <desktopcharacter group="characters"></desktopcharacter>
    </div>
    
    <br /><br />
    <h4 class="title center">LOCATIONS</h4>
    <br /><br />
    
    <div ng-if="isMobile">
        <mobilecharacter group="locations"></mobilecharacter>
    </div>
    <div ng-if="isDesktop">
        <desktopcharacter group="locations"></desktopcharacter>
    </div>
    
    <br /><br />
</div>