<main>
    <div class="container">
        <br />
        <h4 class="title center">CHARACTERS AND LOCATIONS</h4>
        <br />
        
        <slider></slider>
        
        <br /><br /><br /><br />
        <h4 class="title center">CHARACTERS</h4>
        <br /><br />
        
        <panels group="characters"></panels>
        
        <br /><br />
        <h4 class="title center">LOCATIONS</h4>
        <br /><br />
        
        <panels group="locations"></panels>
        
        <br /><br />
    </div>
    
    
</main>