<div class="slider">
    <ul class="slides">
        <li ng-repeat="aspect in aspects">
            <a href="{{ aspect.id }}">
                <img src="assets/img/{{ aspect.image }}" />
            </a>
            <div ng-if="$odd" class="caption right-align">
                <h3>{{ aspect.name }}</h3>
                <h5>{{ aspect.title }}</h5>
            </div>
            <div ng-if="$even" class="caption left-align">
                <h3>{{ aspect.name }}</h3>
                <h5>{{ aspect.title }}</h5>
            </div>
        </li>
    </ul>
</div>