<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>D.storm's Characters</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- boilerplate -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        
        <!-- material -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons" >
        <link rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" href="css/style.css">
        
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-app="charactersApp" ng-controller="charactersCtrl">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="" class="brand-logo title left">&nbsp;D.STORM</a>
                    <a href="" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu&nbsp;</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li ng-repeat="character in characters">
                            <a href="">{{ character.name }}</a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li ng-repeat="character in characters">
                            <a href="">{{ character.name }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div class="container">
                <br />
                <h4 class="title center">CHARACTERS AND LOCATIONS</h4>
                <br />
                <div class="slider">
                    <ul class="slides">
                        <li ng-repeat="character in characters">
                            <a href="">
                                <img src="img/{{ character.image }}" />
                            </a>
                            <div ng-if="$odd" class="caption right-align">
                                <h3>{{ character.name }}</h3>
                                <h5>{{ character.title }}</h5>
                            </div>
                            <div ng-if="$even" class="caption left-align">
                                <h3>{{ character.name }}</h3>
                                <h5>{{ character.title }}</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <br /><br />
                
                <div ng-repeat="character in characters" class="row">
                    <div class="row hide-on-med-and-up">
                        <div class="character">
                            <a href="">
                                <h3 class="header">{{ character.name }}</h3>
                                <br />
                                <h5 class="header">{{ character.title }}</h5>
                                <br />
                            </a>
                            <a href="">
                                <img class="circle hoverable" src="img/{{ character.image }}">
                            </a>
                        </div>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ character.story }}
                        </p>
                    </div>
                    <div class="row valign-wrapper hide-on-small-only">
                        <a ng-if="$odd" href="">
                            <img class="circle hoverable left" src="img/{{ character.image }}">
                        </a>
                        <p class="valign">
                            <a href="">
                                <span class="h3">{{ character.name }}</span>
                                <span class="hide-on-med-only">&nbsp;&nbsp;</span>
                                <br class="hide-on-large-only" />
                                <span class="h5">{{ character.title }}</span>
                            </a>
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{ character.story }}
                        </p>
                        <a ng-if="$even" href="">
                            <img class="circle hoverable right" src="img/{{ character.image }}">
                        </a>
                    </div>
                </div>
            </div>
        </main>
        
        <footer>
            <div class="page-footer">
                <div class="container">
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        &copy; 2015 Copyright d.storm
                        <a class="grey-text text-lighten-4 right" href="http://dstorm.nyc">dstorm.nyc</a>
                    </div>
                </div>
            </div>
            <br />
        </footer>
        
        <!-- boilerplate -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        
        <!-- material -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
